$container-width: 80rem;
$tablet-width: 48rem;
$phone-width: 37.5rem;
$font-latin: Roboto;
$font-cjk:
  "Noto Sans TC", "PingFang TC", "Hiragino Sans GB W3", "Microsoft Yahei";
$font-sans: $font-latin, $font-cjk, sans-serif;
