---
import { baseURL } from "@/config";
import Layout from "../layouts/Layout.astro";
import PaymentList from "../components/PaymentList.astro";
import ShoppingList from "../components/ShoppingList.astro";
---

<Layout title="Transport">
  <my-container>
    <div class="shipping-form">
      <div class="form-header">
        <h1>運送</h1>
        <div class="step-guide">
          <span class="step-active"><span class="step"></span></span>
          <span class="line"></span>
          <span class="step"></span>
          <span class="line"></span>
          <span class="step"></span>
        </div>
      </div>

      <form>
        <div class="form-group">
          <label for="family-name">姓氏</label>
          <input type="text" id="family-name" placeholder="王" />
        </div>

        <div class="form-group">
          <label for="name">名字</label>
          <input type="text" id="name" placeholder="小明" />
        </div>

        <div class="form-group full-width">
          <label for="phone">電話</label>
          <input type="tel" id="phone" placeholder="小明" />
        </div>

        <div class="form-group full-width">
          <label for="city">地址</label>
          <div class="address-group">
            <select id="city">
              <option value="高雄" selected>高雄市</option>
              <option value="台南">台南</option>
              <option value="台北">台北</option>
            </select>
            <select id="city">
              <option value="新興區" selected>新興區</option>
              <option value="三民區">三民區</option>
              <option value="苓雅區">苓雅區</option>
            </select>
          </div>
          <input type="text" placeholder="幸福路 520 號" />
        </div>
      </form>
      <button class="btn-next"><a href={baseURL + "/payment"}>下一步</a></button
      >
    </div>
    <div>
      <PaymentList subtotal={2700} shipping={300} />
    </div>

    <div class="shopping-list">
      <div class="label"><h2>購物清單</h2></div>
      <ShoppingList
        productImageURL="/images/p-4.png"
        productTitle="焦糖蘋果派"
        productBasePrice={450}
        quantity={2}
      />
      <ShoppingList
        productImageURL="/images/p-5.png"
        productTitle="草莓波士頓"
        productBasePrice={450}
        quantity={2}
      />
      <ShoppingList
        productImageURL="/images/p-3.png"
        productTitle="頂級莓果派"
        productBasePrice={450}
        quantity={2}
      />
    </div>
  </my-container>

  <style lang="scss">
    @use "../styles/_vars";
    my-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 7.625rem 4.06rem 7.625rem;
      gap: 1.25rem;
    }
    .shipping-form {
      width: 460px;
      height: 36rem;
      background: #3f5d45;
      grid-row: span 2;
      position: relative;
      color: #eaf0ed;
      justify-self: end;
    }

    .form-header {
      display: flex;
      justify-content: space-between;
      padding: 1.875rem 2.5rem;
      color: #eaf0ed;
      h1 {
        margin: 0;
        font-size: 2.25rem;
      }
    }

    /*進度條*/
    .step-guide {
      display: flex;
      align-items: center;
    }
    .step-active {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #eaf0ed;
      display: flex;
      align-items: center;
      justify-content: center;
      .step {
        background-color: #eaf0ed;
        width: 0.875rem;
        height: 0.875rem;
      }
    }
    .step {
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 50%;
      background-color: #3f5d45;
      border: 1px solid #eaf0ed;
    }
    .line {
      width: 4.25rem;
      height: 1px;
      background: #eaf0ed;
    }

    /*表格*/
    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 2.5rem 1.875rem;
      gap: 0.5rem;
    }
    .form-group {
      display: flex;
      flex-direction: column;
      width: 186px;
      font-size: 1.25rem;
      label {
        margin: 0 0 0.5rem 0;
      }
      input {
        margin-bottom: 0.5rem;
        background: #eaf0ed;
      }
    }
    .form-group.full-width {
      width: 100%;
    }
    .address-group {
      display: flex;
      gap: 0.5rem;
      margin-bottom: 0.5rem;
      select {
        flex: 1;
        color: #8da291;
      }
    }
    input::placeholder {
      color: #8da291;
    }
    input,
    select {
      border: none;
      font-size: 1rem;
      padding: 1rem;
      height: 3.5rem;
    }
    .btn-next {
      background: #ffe180;
      border: none;
      position: absolute;
      width: 100%;
      height: 4.06rem;
      bottom: 0;
      a {
        text-decoration: none;
        color: #3f5d45;
        font-weight: bold;
        font-size: 1.5rem;
      }
    }

    .label {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #eaf0ed;
      width: 18.75rem;
      height: 4.06rem;
      h2 {
        color: #8da291;
        margin: 0;
      }
    }
  </style>
</Layout>
