<header>
  <my-container>
    <div class="icon">
      <img src={Astro.url + "/images/logo-1000x1000.svg"} alt="logo" />
      <img
        class="logotype"
        src={Astro.url + "/images/logotype.svg"}
        alt="logo"
      />
    </div>
    <div class="navbar">
      <ul>
        <li>
          <a href="#">首頁</a>
          <a href="#">甜點</a>
          <a href="#">登入</a>
          <img
            class="cartlogo"
            src={Astro.url + "/images/shopping_cart.png"}
            alt=""
          />
        </li>
      </ul>
    </div>
  </my-container>
</header>
<style lang="scss">
  @use "../styles/_vars";
  header {
    width: 100%;
    display: flex;
  }
  my-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2.5rem;
    margin-bottom: 2.375rem;
  }
  img {
    width: 2.5rem;
    margin-top: 1.875rem;
  }
  .logotype {
    width: 10.7rem;
    height: 1.66rem;
    margin: 0;
  }
  ul {
    list-style-type: none;
    gap: 3.75rem;
    font-size: 1rem;
    margin: 0;
  }
  a {
    color: #3f5d45;
    text-decoration: none;
    margin-left: 2.75rem;
    &:visited,
    &:link,
    &:active {
      text-decoration: none;
    }
  }
  .cartlogo {
    width: 1.5rem;
    margin-left: 5rem;
  }
</style>
