---
import "../styles/main.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.svelte";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<html lang="zh-Hant-TW" style={`--base:${Astro.url}`}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer baseURL={Astro.url} client:load />
  </body>
</html>

<style>
  html {
    overflow-x: hidden;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
  }
  main {
    flex: 1;
  }
</style>
